<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <clear />
    <add key="nuget-build" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/nuget-build/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
  <packageSourceMapping>
    <clear />
    <packageSource key="nuget.org">
      <package pattern="Autofac" />
      <package pattern="Autofac.*" />
      <package pattern="Castle.Core" />
      <package pattern="CsvHelper" />
      <package pattern="Dapper.StrongName" />
      <package pattern="EntityFramework" />
      <package pattern="Lucene.Net" />
      <package pattern="Lucene.Net.Contrib" />
      <package pattern="MicroBuild.Core" />
      <package pattern="Microsoft.*" />
      <package pattern="Moq" />
      <package pattern="NETStandard.Library" />
      <package pattern="Newtonsoft.Json" />
      <package pattern="NuGet.*" />
      <package pattern="Owin" />
      <package pattern="Polly" />
      <package pattern="Polly.Extensions.Http" />
      <package pattern="Runtime.*" />
      <package pattern="Serilog" />
      <package pattern="Serilog.*" />
      <package pattern="SerilogTraceListener" />
      <package pattern="SharpZipLib" />
      <package pattern="System.*" />
      <package pattern="WindowsAzure.*" />
      <package pattern="xunit" />
      <package pattern="xunit.*" />
    </packageSource>
    <packageSource key="nuget-build">
      <package pattern="NuGet.Jobs.*" />
      <package pattern="NuGet.Services.*" />
      <package pattern="NuGet.StrongName.*" />
      <package pattern="NuGetGallery.Core" />
    </packageSource>
  </packageSourceMapping>
</configuration>