<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <add key="nugetbuild" value="https://dotnet.myget.org/F/nuget-build/api/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="dotnet.core" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <clear />
    <add key="mygetv2" value="true" />
    <add key="myget" value="true" />
    <add key="xunit" value="true" />
    <add key="applicationinsights" value="true" />
    <add key="aspnetcontrib" value="true" />
    <add key="aspnetcirelease" value="true" />
    <add key="aspnet" value="true" />
    <add key="local" value="true" />
    <add key="Dev" value="true" />
    <add key="AzureCMS" value="true" />
    <add key="Int" value="true" />
  </disabledPackageSources>
</configuration>