<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <clear />
    <add key="nuget-build" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/nuget-build/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
  <packageSourceMapping>
    <packageSource key ="nuget-build">
      <package pattern="*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="Autofac" />
      <package pattern="Autofac.Extensions.DependencyInjection" />
      <package pattern="Azure.Identity" />
      <package pattern="Azure.Search.Documents" />
      <package pattern="Dapper.StrongName" />
      <package pattern="dotNetRDF" />
      <package pattern="EntityFramework" />
      <package pattern="Markdig.Signed" />
      <package pattern="Microsoft.ApplicationInsights" />
      <package pattern="Microsoft.ApplicationInsights.AspNetCore" />
      <package pattern="Microsoft.AspNetCore.Http" />
      <package pattern="Microsoft.Azure.KeyVault" />
      <package pattern="Microsoft.Azure.Services.AppAuthentication" />
      <package pattern="Microsoft.Azure.Storage.DataMovement" />
      <package pattern="Microsoft.CodeAnalysis.NetAnalyzers" />
      <package pattern="Microsoft.Data.Services.Client" />
      <package pattern="Microsoft.Extensions.Configuration.Abstractions" />
      <package pattern="Microsoft.Extensions.Configuration.EnvironmentVariables" />
      <package pattern="Microsoft.Extensions.Configuration.FileExtensions" />
      <package pattern="Microsoft.Extensions.Configuration.Json" />
      <package pattern="Microsoft.Extensions.DependencyInjection" />
      <package pattern="Microsoft.Extensions.DependencyInjection.Abstractions" />
      <package pattern="Microsoft.Extensions.Logging" />
      <package pattern="Microsoft.Extensions.Logging.Abstractions" />
      <package pattern="Microsoft.Extensions.Options" />
      <package pattern="Microsoft.Extensions.Options.ConfigurationExtensions" />
      <package pattern="Microsoft.Identity.Client" />
      <package pattern="Microsoft.IdentityModel.Clients.ActiveDirectory" />
      <package pattern="Microsoft.NET.Test.Sdk" />
      <package pattern="Microsoft.SourceLink.GitHub" />
      <package pattern="Microsoft.WindowsAzure.ConfigurationManager" />
      <package pattern="Moq" />
      <package pattern="NETStandard.Library" />
      <package pattern="Newtonsoft.Json" />
      <package pattern="Serilog.Enrichers.Environment" />
      <package pattern="Serilog.Enrichers.Process" />
      <package pattern="Serilog.Extensions.Logging" />
      <package pattern="Serilog.Sinks.ApplicationInsights" />
      <package pattern="Serilog.Sinks.Console" />
      <package pattern="SerilogTraceListener" />
      <package pattern="System.Data.SqlClient" />
      <package pattern="System.Text.Encodings.Web" />
      <package pattern="System.Text.Json" />
      <package pattern="UAParser" />
      <package pattern="WindowsAzure.ServiceBus" />
      <package pattern="WindowsAzure.Storage" />
      <package pattern="xunit" />
      <package pattern="xunit.runner.visualstudio" />
    </packageSource>
  </packageSourceMapping>
</configuration>